.headerWrapper {
  height: 10vh;
  background-color: #f7f5ef;
  font-family: "Big Shoulders", sans-serif;
}

.headerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .headerLogoLinks {
    display: flex;
    align-items: center;
    margin-inline-start: 5%;
    gap: 1.2rem;

    .headerLogo {
      font-size: 2rem;
      font-weight: 600;
    }

    .headerLinks:not(:first-child) {
      margin-inline-start: 10px;
    }
  }

  .headerLinks {
    color: #000;
    text-decoration: none;
    border: 1px solid lightgray;
    padding: 10px 12px;
    border-radius: 30px;
  }
  .headerLinks:hover {
    font-weight: 500;
    border: 1px solid black;
  }
  .signUpButton{
    background-color: red;
    color: whitesmoke;
    font-weight: 600;
  }

  .headerSearchLinks:last-child {
    margin-inline-end: 5%;

    .headerInputSearch{
      padding: 8px 20px;
      min-width: 20vw;
      border-radius: 30px;
      /* border: 1px solid rgba(20, 18, 14, 0, 0.10); */
      border: 1px solid lightgray;
      
    }
    .headerInputSearch:focus{
      outline: 1px solid black;
    }

    .signUpButton{
      margin-inline-start: 10px;
    }

    .headerInputSearch {
      margin-inline-end: 20px;
    }
  }
}
